*{
	box-sizing:border-box;
}
body{
	background-color: #F9F9F9;
	font-family: sans-serif;
	margin:0;
}
.emojis{
	position: relative;
	padding-bottom: 48px;
}
	.emoji{
		display:inline-block;
		padding: 15px 9px 10px 9px;
		text-align: center;
		border-bottom: 1px solid rgba(52, 73, 94, 0.22);
	}
		.emoji .glyph{
			font-size: 24px;
		}
		.emoji .count{
			padding-top: 6px;
			color:#34495e;
		}
footer{
	position: fixed;
	bottom:0px;
	left:0px;
	width:100%;
	height:auto;
	padding:15px;
	text-align: center;
	line-height: 130%;
	border-top: 1px solid rgba(52, 73, 94, 0.22);
	background-color: #F9F9F9;
	color:#34495e;
}
	footer br{
		display: none;
	}
	footer a{
		text-decoration: none;
		color:#8e44ad;
	}
@media(max-width: 500px){
	.emoji{
		width:calc(100% / 8);
	}
	footer br{
		display: block;
	}
}
@media(max-width: 400px){
	.emoji{
		width:calc(100% / 6);
	}
	footer{
		padding: 12px 10px;
		font-size: 14px;
	}
}