body{
	background-color: #F9F9F9;
	font-family: sans-serif;
}
.emojis{

}
	.emoji{
		display:inline-block;
		padding: 15px 9px 10px 9px;
		text-align: center;
		border-bottom: 1px solid rgba(52, 73, 94, 0.22);
	}
		.emoji .glyph{
			font-size: 24px;
		}
		.emoji .count{
			padding-top: 6px;
			color:#34495e;
		}
footer{
	position: fixed;
	bottom:0px;
	left:0px;
	width:100%;
	height:auto;
	padding:20px;
	text-align: center;
	border-top: 1px solid rgba(52, 73, 94, 0.22);
	background-color: #F9F9F9;
	color:#34495e;
}
	footer a{
		text-decoration: none;
		color:#8e44ad;
	}